/* 淵下宮 白夜（ライトテーマ） */
:root {
  --primary-100: #8B5FBF;
  --primary-200: #61398F;
  --primary-300: #FFFFFF;
  --accent-100: #D6C6E1;
  --accent-200: #9A73B5;
  --text-100: #4A4A4A;
  --text-200: #878787;
  --bg-100: #F5F3F7;
  --bg-200: #E9E4ED;
  --bg-300: #FFFFFF;
}

/* 淵下宮 常夜（ダークテーマ） */
[data-theme="dark"] {
  --primary-100: #7B4F8E;
  --primary-200: #563763;
  --primary-300: #D7C5DF;
  --accent-100: #B794C0;
  --accent-200: #895896;
  --text-100: #FFFFFF;
  --text-200: #909090;
  --bg-100: #3B2D4D;
  --bg-200: #382B49;
  --bg-300: #4D3B64;
}

